{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home-container-cart">
    <div>

    </div>
	<div class="col-lg-12">
    <h1>Cart</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

		<br>

		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>
            <br>
            <div class="cart-row">
                    <div style="flex:1"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
{#                    <div style="flex:1"><strong></strong></div>#}

                </div>
            {% for item in cart %}
                <div class="cart-row">
                    <div style="flex:1"><img class="row-image" src="{{ item.product.image_url }}"></div>
                    <div style="flex:2"><a style="text-decoration: none;" href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></div>
                    <div style="flex:1"><p> ₽ {{ item.price|floatformat:0 }}</p></div>
                    <div style="flex:1">
                        <p class="quantity">{{ item.quantity }}</p>
                        <div class="quantity">
                            <a href="{% url 'increase_quantity' item.product.id %}"><img class="chg-quantity" src="{% static  'images/arrow-up.png' %}"></a>
                            <a href="{% url 'decrease_quantity' item.product.id %}"><img class="chg-quantity" src="{% static  'images/arrow-down.png' %}"></a>
                        </div>
                    </div>
                    <div style="flex:1"><p> ₽ {{ item.total_price|floatformat:0 }}</p></div>
                    <div >
                         <a href="{% url 'remove_from_cart' item.product.id %}"><img class="remove_item" src="{% static  'images/close-button.png' %}"></a>
                    </div>
                </div>

            {% endfor %}
		</div>
            <div class="box-element">
            <table class="table">
                <tr>
                    <th><h5 style="float:right">Items: <strong>{{ cart|length }}</strong></h5></th>
                    <th><h5 style="float:right">Total:<strong> ₽ {{ cart.get_total_price|floatformat:0 }}</strong></h5></th>
                    <th>
                        <a  style="float:right" class="btn btn-success" href="{% url "order_create" %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
	</div>
</div>
{% endblock content %}