

{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Categories</h3>
	<div class="row">
		{% if categories %}
			{% for cat in categories %}
			<div class="col-md-3 mb-4">
				<div class="card shadow">
				<a href="/category-product-list/{{cat.id}}"><img src="" class="card-img-top" alt="{{cat.name}}" /></a>
				<div class="card-body">
					<h6 class="card-text"><a href="{{cat.get_absolute_url}}">{{cat.name}}</a></h6>
				</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</main>
{% endblock %}