{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Store</h1>
 <div class="home-container">
     <div>
        {% include 'categories_component.html' %}
     </div>
    <div class="row">
        <small style="position: relative">{{ items.count }} items on page</small>
         <div class="row row-cols-1 row-cols-sm-2 row-cols-mz-3 g-3">
        {% for item in items %}
            <div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="{{ item.get_absolute_url }}"><img src="{{ item.image_url }}" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">{{ item.name }}</a></h4>
							<p>{{ item.description }}</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									{{ item.price|floatformat:0 }} ₽
								</div>
							</div>
                            <div class="product-links">
                                <form action="{{ item.get_add_to_cart_url }}" method="post">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                    <input src="{% static 'images/cart.png' %}" type="submit" value="Add to cart">
                                </form>
{#									<a href="{{ item.get_add_to_cart_url }}">#}
{#                                    <img id="cart-icon" src="{% static 'images/cart.png' %}">#}
{#                                    </a>#}
                            </div>
						</div>
					</div>
				</div>
        {% endfor %}
    </div>

    </div>


 </div>
{% endblock content %}