{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
    {% if products %}
	<h3 class="my-4 border-bottom pb-1">Search result for {{ request.GET.q }}</h3>
	<div class="row">
    {% for item in products %}
		<div class="col-lg-4 col-md-6 mb-4 product-box">
					<div class="product-card">
                        <div class="product-thumb">
                            <a href="{{ item.get_absolute_url }}"><img src="{{ item.image_url }}" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h6><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h6>
                            <p>{{ item.description }}</p>
                            <h5><span>{{ item.price|floatformat:0 }}</span> ₽</h5>
                            <div class="card-footer">
                                <form action="{{ item.get_add_to_cart_url }}" method="post">
                                    {% csrf_token %}
                                        <input type="text" name="quantity" hidden="hidden" value="1">
                                    <button class="btn btn-sm btn-primary add-to-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>

                                </form>
                                <span class="float-right">
                                       Rating: 4.5/5
                                        <i class="fa fa-star text-warning"></i>
                                </span>
                            </div>
                        </div>
                    </div>
				</div>
    {% endfor %}
        {% else %}
        	<h3 class="my-4 border-bottom pb-1">No results for {{ request.GET.q }}</h3>
    {% endif %}
	</div>
</main>
{% endblock %}
