<ul class="nav nav-pills" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pill-tab-0" data-bs-toggle="pill" href="#pill-tabpanel-0" role="tab" aria-controls="pill-tabpanel-0" aria-selected="true">
                                Address Delivery
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pill-tab-1" data-bs-toggle="pill" href="#pill-tabpanel-1" role="tab" aria-controls="pill-tabpanel-1" aria-selected="false">
                                Pickpoint Delivery
                            </a>
                          </li>
                    </ul>
<div class="tab-content py-3 mt-2">
                        <div class="tab-pane active" id="pill-tabpanel-0" role="tabpanel" aria-labelledby="pill-tab-0">
                            <hr>
                            {% if user.is_authenticated %}
                                <div class="form-field">
                                    <p>Address Delivery:</p>
                                    <select class="form-select" name="address">
                                        <option selected>Please select an address</option>
                                        {% for address in addresses %}
                                            <option value="{{ address.id }}">{{ address.address }}, {{ address.city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span><a href="{% url 'add-address' %}" class="float-right btn btn-sm btn-success">Add address</a></span>
                                <br>
                            {% else %}
                                <div class="form-field" >
                                    <input class="form-control" type="text" name="address" placeholder="Address..">
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="pill-tabpanel-1" role="tabpanel" aria-labelledby="pill-tab-1">
                            <hr>
                            <div class="form-field">
                                <p>Pickpoint Delivery:</p>
                                <select class="form-select" name="address">
                                    <option selected>Please select a pickpoint</option>
                                    {% for item in pickpoints %}
                                        <option value="{{ item.id }}">Pickpoint: {{ item.address }}, {{ item.id }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
<!-- Pills content -->


<div id="collapse-group">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Address Delivery
                        </button>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            Pickpoint Delivery
                        </button>

                        <div class="tab-content py-3 mt-2">
                            <div class="collapse collapse show" id="collapse1"  data-bs-parent="#collapse-group" >
                              <hr>
                                {% if user.is_authenticated %}
                                    <div class="form-field">
                                        <p>Address Delivery:</p>
                                        <select class="form-select" name="address">
                                            <option selected>Please select an address</option>
                                            {% for address in addresses %}
                                                <option value="{{ address.id }}">{{ address.address }}, {{ address.city }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                <span><a href="{% url 'add-address' %}" class="float-right btn btn-sm btn-success">Add address</a></span>
                              <br>
                                {% else %}
                                    <div class="form-field" >
                                        <input class="form-control" type="text" name="address" placeholder="Address..">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="collapse" id="collapse2" data-bs-parent="#collapse-group" >
                              <hr>
                              <div class="form-field">
                                  <p>Pickpoint Delivery:</p>
                                  <select class="form-select" name="address">
                                      <option selected>Please select a pickpoint</option>
                                          {% for item in pickpoints %}
                                          <option value="{{ item.id }}">Pickpoint: {{ item.address }}, {{ item.id }}</option>
                                          {% endfor %}
                                  </select>
                              </div>
                            </div>
                        </div>
                    </div>