{% extends 'base.html' %}
{% load static %}
<script type="text/javascript" src="{% static 'select-delivery.js' %}"></script>
{% block content %}

<h1>Checkout</h1>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <div class="home-container-order">
    <div></div>
        <div class="row">
        <div class="col-lg-8">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'cart' %}"> Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in cart %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{ item.product.image_url }}"></div>
                    <div style="flex:2"><p>{{ item.product.name }}</p></div>
                    <div style="flex:1"><p>₽ {{ item.price|floatformat:0 }}</p></div>
                    <div style="flex:1"><p>{{ item.quantity }}</p></div>
                </div>
                {% endfor %}
                <h5>Items:   {{ cart|length }}</h5>
                <h5>Total:   ₽ {{ cart.get_total_price|floatformat:0 }}</h5>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="box-element" id="form-wrapper">
                <form action="" method="post">
                    {% csrf_token %}
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="first_name" placeholder="First name.." value="{{ request.user.first_name }}">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="last_name" placeholder="Last name.." value="{{ request.user.last_name }}">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email.." value="{{ request.user.email }}">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="total_cost" hidden="hidden" value="{{ cart.get_total_price }}">
                        </div>
                    </div>
                    <hr>
                    <ul class="nav nav-pills" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pill-tab-0" data-bs-toggle="pill" href="#pill-tabpanel-0" role="tab" aria-controls="pill-tabpanel-0" aria-selected="true">
                                Address Delivery
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pill-tab-1" data-bs-toggle="pill" href="#pill-tabpanel-1" role="tab" aria-controls="pill-tabpanel-1" aria-selected="false">
                                Pickpoint Delivery
                            </a>
                          </li>
                    </ul>
                    <div class="tab-content py-3 mt-2">
                        <div class="tab-pane active" id="pill-tabpanel-0" role="tabpanel" aria-labelledby="pill-tab-0">
                            <hr>
                            {% if user.is_authenticated %}
                                <div class="form-field">
                                    <p>Address Delivery:</p>
                                    <select class="form-select" name="address">
                                        <option selected>Please select an address</option>
                                        {% for address in addresses %}
                                            <option value="{{ address.id }}">{{ address.address }}, {{ address.city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span><a href="{% url 'add-address' %}" class="float-right btn btn-sm btn-success">Add address</a></span>
                                <br>
                            {% else %}
                                <div class="form-field" >
                                    <input class="form-control" type="text" name="address" placeholder="Address..">
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="pill-tabpanel-1" role="tabpanel" aria-labelledby="pill-tab-1">
                            <hr>
                            <div class="form-field">
                                <p>Pickpoint Delivery:</p>
                                <select class="form-select" name="address">
                                    <option selected>Please select a pickpoint</option>
                                    {% for item in pickpoints %}
                                        <option value="{{ item.id }}">Pickpoint: {{ item.address }}, {{ item.id }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>
        </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>

    </div>
        <div></div>
    </div>
{% endblock content %}