{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Checkout</h1>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <div class="home-container-order">
    <div></div>
        <div class="row">
        <div class="col-lg-8">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'cart' %}"> Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in cart %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{ item.product.image_url }}"></div>
                    <div style="flex:2"><p>{{ item.product.name }}</p></div>
                    <div style="flex:1"><p>₽ {{ item.price|floatformat:0 }}</p></div>
                    <div style="flex:1"><p>{{ item.quantity }}</p></div>
                </div>
                {% endfor %}
                <h5>Items:   {{ cart|length }}</h5>
                <h5>Total:   ₽ {{ cart.get_total_price|floatformat:0 }}</h5>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="box-element" id="form-wrapper">
                <form action="." method="post" class="order-form">
                    {% csrf_token %}
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="first_name" placeholder="First name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="last_name" placeholder="Last name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </div>
                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="postal_code" placeholder="Postal code..">
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>

        </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>

    </div>
        <div></div>
    </div>
{% endblock content %}