{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Checkout</h1>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <div class="home-container-order">
    <div></div>
        <div class="row">
        <div class="col-lg-8">
            <div class="box-element">
               <h1>It is not your order</h1>
            </div>
        </div>

    </div>
        <div></div>
    </div>
{% endblock content %}