
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-lg-4 col-xl-3">
            <div class="form-check">
                <form class="border border-light p-5" method="POST">
                    {% csrf_token %}
                    <p class="h4 mb-4 text-center">Sign in</p>

                    <input type="email" id="defaultLoginFormEmail" name="username" class="form-control mb-4" placeholder="E-mail">
                    <div class="form-error">{{ form.username.errors }}</div>
                    <input type="password" id="defaultLoginFormPassword" name="password" class="form-control mb-4" placeholder="Password">
                    <div class="form-error">{{ form.password.errors }}</div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                            </div>
                        </div>
                        <div>
                            <a href="{% url 'password_reset' %}">Forgot password?</a>
                        </div>
                    </div>

                    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

                    <div class="text-center">
                        <p>Not a member?
                            <a href="{% url 'register' %}">Register</a>
                        </p>

                        <p>or sign in with:</p>
                        <a type="button" href="{% url "social:begin" "google-oauth2" %}" class="light-blue-text mx-2">
                            <i class="fa-brands fa-google"></i>
                        </a>
                        <a type="button" href="{% url 'social:begin' 'vk-oauth2' %}" class="light-blue-text mx-2">
                            <i class="fa-brands fa-vk"></i>
                        </a>
{#                        <a type="button" class="light-blue-text mx-2">#}
{#                            <i class="fab fa-linkedin-in"></i>#}
{#                        </a>#}
{#                        <a type="button" class="light-blue-text mx-2">#}
{#                            <i class="fab fa-github"></i>#}
{#                        </a>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
